<!DOCTYPE html>
<html>
  <head>
    <title><% if content_for?(:title) %><%= yield :title %><% else %>GBlog<% end %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- link rel="preconnect" href="https://fonts.gstatic.com" -->
    <!-- link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto+Slab:wght@100;400&display=swap" rel="stylesheet" -->
    
    <%= javascript_importmap_tags %>
    <!-- script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script -->

    <!-- Google Analytics -->
    <!-- script async src="https://www.googletagmanager.com/gtag/js?id=G-YFNMHWPS67"></script -->
    <!-- script -->
    <!--
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-YFNMHWPS67');
    -->
    <!-- /script -->
  </head>
  <body class="min-vh-100 d-flex flex-column">

    <div id="header-menu" class="container d-flex flex-column flex-md-row align-items-center p-3 mt-2 mb-2 mx-auto" style="z-index: 1;">
        <h3 class="my-0 mr-md-auto"><a href="/" class="masthead-brand">Travis Giggy</a></h3>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/posts.html">Blog</a>
            <a class="p-2 text-dark" href="/miki/106.html">About Me</a>
            <a class="p-2 text-dark" href="/contact.html">Contact</a>
        </nav>
    </div>

    <main role="main" id="main">
        <%= yield %>
    </main>

    <footer class="container mt-auto mx-auto mb-3 pb-3 pt-2">
        <div class="row">
            <div class="col text-center text-nowrap">&#169; Travis Giggy</div>
            <div class="col text-center"><a href="/contact.html"><%= image_tag 'email-1-240.png', class: 'footer-height' %></a></div>
            <div class="col text-center"><a href="https://twitter.com/tgig"><%= image_tag 'twitter-3-240.png', class: 'footer-height' %></a></div>
            <div class="col text-center"><a href="https://www.linkedin.com/in/travisgiggy/"><%= image_tag 'linkedin-3-240.png', class: 'footer-height' %></a></div>
            <div class="col text-center"><a href="/site-map.html"><%= image_tag 'sitemap-5-240.png', class: 'footer-height' %></a></div>
        </div>
    </footer>

</body>
<%= yield :javascript %>
</html>
